/***SET RESPONSIVE BREAKPOINTS MIXIN***/
$media-breakpoint-up: (
  'sm': (
    min-width: 576px
  ),
  'md': (
    min-width: 768px
  ),
  'lg': (
    min-width: 992px
  ),
  'xl': (
    min-width: 1200
  )
) !default;

//Max-width sizes
$media-breakpoint-down: (
  'xs': (
    max-width: 575.98px
  ),
  'sm': (
    max-width: 767.98px
  ),
  'md': (
    max-width: 991.98px
  ),
  'lg': (
    max-width: 1199.98px
  )
) !default;

///Mixin to manage responsive breakpoints
@mixin respond-to($breakpoint) {
  //if the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    //Prints media query based on the values
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  //If the key doesn't exist in the map
  @else {
    @warn "Dude, that shit could not retreived from `#{$breakpoint}."
      + "Available brakpints are: #{map-keys($breakpoints)}.";
  }
}

// // Small tablets and large smartphones (landscape view)
// $screen-sm-min: 576px;

// // Small tablets (portrait view)
// $screen-md-min: 768px;

// // Tablets and small desktops
// $screen-lg-min: 992px;

// // Large tablets and desktops
// $screen-xl-min: 1200px;

// Color Pallet

$primary: RGBA(204, 0, 0, 0.65); //cc0000;
$secondary: RGBA(51, 51, 51, 0.68); /**333;**/
$thirds: whitesmoke;

/********************************************/
/**GLOBAL**/

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/**Social Media**/
.social {
  background-color: $secondary;
  ul {
    flex-direction: row-reverse;
  }
  i {
    font-size: 0.6rem;
  }
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: inherit;
  height: 100%;
}

.button:hover {
  background-color: $primary;
}

/**Logo**/
.logo {
  max-width: 67%;
}

/**Generic alignments classes**/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/**variables**/
$imgpath: '../images/';
body {
  background: url(#{$imgpath}bg.jpg) no-repeat center top;
  background-size: cover;
}

/**Dom notes**/

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
}

/** home page **/
//THE BELOW SEGMENT WORKS WITH BEHAVIORS.JS 

body > .container{
  padding-top: 60px;
}


#menu {
  transition: all 0.5s ease-out;
  flex-grow: 1;
  ;
}

.hovered {
  flex-grow: 3; !important;
}

//THE ABOVE SEGMENT WORKS WITH BEHAVIORS.JS 

.Menu {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 40px;
  li {
    float: right;
  }
  li a {
    color: $thirds;
    padding-right: 20px;
  }
}

footer {
  width: 100%;
  background-color: $secondary;
  color: $thirds;
}

.footer ul {
  list-style-type: none;
  background-color: $secondary;
}

li {
  position: relative;
  a {
    padding-left: 20px;
    &:before {
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  a[href='mailto:kalashnikovClowns@gmail.com']:before {
    content: '\f0e0';
    font-style: bold;
  }
}
