/***SET RESPONSIVE BREAKPOINTS MIXIN***/
$media-breakpoint-up: (
  'sm': (
    min-width: 576px
  ),
  'md': (
    min-width: 768px
  ),
  'lg': (
    min-width: 992px
  ),
  'xl': (
    min-width: 1200
  )
) !default;

//Max-width sizes
$media-breakpoint-down: (
  'xs': (
    max-width: 575.98px
  ),
  'sm': (
    max-width: 767.98px
  ),
  'md': (
    max-width: 991.98px
  ),
  'lg': (
    max-width: 1199.98px
  )
) !default;

// $media-breakpoint-between: ( $media-breakpoint-up,
//   'xs': (
//     max-width: 575.98px
//   ),
//   'sm': (
//     min-width: 576px
//   ),
//   'md': (
//     max-width: 991.98px
//   ),
//   'lg': (
//     max-width: 1199.98px
//   )

// ) !default;

///Mixin to manage responsive breakpoints
@mixin respond-to($breakpoint) {
  //if the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    //Prints media query based on the values
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  //If the key doesn't exist in the map
  @else {
    @warn "Dude, that shit could not retreived from `#{$breakpoint}."
      + "Available brakpints are: #{map-keys($breakpoints)}.";
  }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Design colors

$primary-kclowns-red: #cc0000;

// // Small devices
// @mixin sm {
//   @media (min-width: #{$screen-sm-min}) {
//     @content;
//   }
// }

// // Medium devices
// @mixin md {
//   @media (min-width: #{$screen-md-min}) {
//     @content;
//   }
// }

// // Large devices
// @mixin lg {
//   @media (min-width: #{$screen-lg-min}) {
//     @content;
//   }
// }

// // Extra large devices
// @mixin xl {
//   @media (min-width: #{$screen-xl-min}) {
//     @content;
//   }
// }

// // Custom devices
// @mixin rwd($screen) {
//   @media (min-width: $screen+'px') {
//     @content;
//   }
// }

.container {
  padding: 0 15px;
  // 576px window width and more
  @include sm {
    padding: 0 20px;
  }
  // 992px window width and more
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
  // 1400px window width and more
  @include rwd(1400) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/**nav-bar**/
.nav-bar {
  font-size: 2rem;
  ul {
    list-style-type: none;
    flex-direction: row;
  }
  button {
    width: 100%;
  }
}

/**tip jar**/
.tip-jar {
  border: 10px;
}
/**Social Media**/
.socialMediaPane {
  background-color: #333;
  color: whitesmoke;
  padding-bottom: 0.75rem;
}

.social {
  list-style-type: none;
  background-color: blue;
}

.fa-facebook {
  color: whitesmoke;
  padding: 10px;
}
.fa-instagram {
  color: whitesmoke;
  padding: 10px;
}

/**Logo**/
.logo {
  max-width: 100%;
}

/**Generic alignments classes**/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/**variables**/
$imgpath: '../images/';
body {
  background: url(#{$imgpath}bg.jpg) no-repeat center top;
  background-size: cover;
}

/**Dom notes**/

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
}

/** home page **/

nav {
  background-color: aliceblue;
}

.Menu {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
}

.footer ul {
  list-style-type: none;
}

li {
  position: relative;
  a {
    padding-left: 20px;
    &:before {
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  a[href='mailto:kalashnikovClowns@gmail.com']:before {
    content: '\f0e0';
    font-style: bold;
  }
}
